.docker/.env
.docker/data/
.docker/data/mysql/ib*
.docker/mysql/data*
.docker/nginx/access.log
.docker/nginx/error.log
.DS_Store
.env
.idea/*
.phpunit.result.cache
*data/*
*supervisord.log
/.idea
/.vagrant
/.vscode
/logs/*
/nbproject
/node_modules
/public/assets
/public/vendor
/public/hot
/public/mix-manifest.json
/vendor/**
bin/mysql*
bootstrap/compiled.php
Homestead.json
Homestead.yaml
node_modules/**
npm-debug.log
public/assets
public/hot
public/storage
yarn-error.log

# STORAGE
storage/*.key
